:root {
    --principalAmarillo: #FFE45E;
    --principalNegro: #143642;
    --secundarioBlanco: #F5F4F5;
    --secundarioRojo: #A23E48;
    --secundarioNaranja: #FF8C42;
    --fuenteTextos: 'Press Start 2P', cursive;
    --fuenteTitulos: 'Press Start 2P', cursive;
    --sombraTextos: 5px 5px 5px #143642;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

html {
    position: relative;
    scroll-behavior: smooth;
    height: 100vh;
    font-family: var(--fuenteTextos);
    min-height: 100%;
}

.noScroll {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

header, footer {
    z-index: 4;
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(245, 244, 245, 0.33);
}

.wrapper {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    height: 100%;
    margin-bottom: 40px;
    font-family: var(--fuenteTextos);
    background-image: url('../img/pixel_bg2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.flex-section {
    display: flex;
    flex-wrap: wrap;
}

.center-flex {
    justify-content: center;
    align-items: center;
}

main.active, header.active, footer.active {
    transition: all .5s;
    filter: blur(4px);
}

.titleh1 {
    text-align: center;
    width: 100%;
    margin: 2rem;
    font-size: 2.5rem;
    color: var(--principalAmarillo);
    text-shadow: var(--sombraTextos);
}

.subtitle {
    font-family: var(--fuenteTitulos);
    text-align: center;
    font-size: 2rem;
    color: var(--secundarioNaranja);
    text-shadow: var(--sombraTextos);
    margin: 1rem 0;
}

/*Estilos para el header*/
#header-principal {
    z-index: 1;
    transition: all 0.5s;
    padding: 0;
    height: fit-content;
    position: sticky;
    top: 0;
}

@media (max-width:870px) {
    #header-principal {
        position: sticky;
    }
}

#header-index nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0;
}

#header-logo {
    text-decoration: none;
    color: var(--principalAmarillo);
    text-shadow: var(--sombraTextos);
}

#header-logo_mategotchi {
    margin: 1rem;
    margin-left: 3rem;
}

#header-logo img {
    width: 20%;
}

#menu-nav {
    z-index: 2;
    display: flex;
    align-items: center;
}

#menu-nav ul {
    padding: 0;
    margin: 0;
}

#menu-nav ul li {
    display: inline-block;
    margin: 0 15px;
}

#menu-nav a {
    transition: all 0.5s;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    margin: 0;
}

#boton-menu {
    display: none;
}

@media (max-width: 1400px) {

    #menu-nav {
        position: fixed;
        justify-content: center;
        width: 100%;
        height: 100vh;
        top: 0%;
        right: -100%;
        backdrop-filter: blur(14px) saturate(144%);
        -webkit-backdrop-filter: blur(14px) saturate(144%);
        background-color: rgba(45, 189, 239, 0.5);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
    }

    #menu-nav.show {
        right: 0;
    }

    #menu-nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        text-align: center;
    }

    #boton-menu {
        position: static;
        display: inline;
        width: fit-content;
        height: fit-content;
        background: none;
        padding: 10px;
        border: 2px solid var(--secundarioBlanco);
        border-radius: 5px;
        z-index: 4;
        margin: auto 0;
        margin-right: 1rem;
    }

    #boton-menu i {
        font-size: 25px;
        color: var(--colorBlanco);
    }
    
}

/*Estilos para el main*/
.info-bienvenida {
    display: contents;
}

.info {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.info-div {
    height: fit-content;
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(245, 244, 245, 0.33);
}

#avatar1 {
    order: 1;
    width: 30%;
}
#bienvenida1 {
    order: 2;
    width: 60%;
}
#bienvenida2 {
    order: 3;
    width: 60%;
}
#avatar2 {
    order: 4;
    width: 30%;
}

.avatar-gif {
    z-index: -1;
    display: flex;
    justify-content: center;
}

.mensaje-bienvenida p {
    color: var(--principalNegro);
    font-size: 2rem;
    width: 90%;
    text-align: justify;
    margin: 0 auto;
}

.info-contacto {
    width: 80%;
    margin: 0 auto;
}

.info-contacto a {
    color: var(--principalNegro);
}

.info-contacto a:hover {
    background-color: rgba(45, 189, 239, 0.5);
    text-decoration: none;
    color: var(--principalNegro);
}

.opciones-contacto {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contacto {
    width: 30%;
    height: 10rem;
    text-align: center;
}

@media (max-width: 1400px){
    #avatar1, #avatar2, #bienvenida1, #bienvenida2 {
        width: 100%;
    }
    #avatar2 {
        order: 3;
    }
    #bienvenida2 {
        order: 4;
    }
    .mensaje-bienvenida p {
        font-size: 2.5rem;
    }
}

/* Estilos del Slider */
.slider {
    margin: 2rem auto;
    width: fit-content;
    height: fit-content;
    z-index: 1;
}
.slides {
    width: 627px;
    height: 418px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    transition: 1s;
}
.slide img {
    display: block;
    width: fit-content;
    height: fit-content;
    transition: 1s;
    filter: opacity(60%);
}
.navegacion-manual {
    position: absolute;
    width: 648px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid var(--colorCarne);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background-color: var(--colorCarne);
} 
#radio1:checked ~ .first {
    margin-left: 0%;
}
#radio1:checked ~ div.slide img#img1 {
    transition: 1s;
    filter: none;
}
#radio2:checked ~ .first {
    margin-left: -100%;
}
#radio2:checked ~ div.slide img#img2 {
    transition: 1s;
    filter: none;
}
#radio3:checked ~ .first {
    margin-left: -200%;
}
#radio3:checked ~ div.slide img#img3 {
    transition: 1s;
    filter: none;
}
#radio4:checked ~ .first {
    margin-left: -300%;
}
#radio4:checked ~ div.slide img#img4 {
    transition: 1s;
    filter: none;
}
#radio5:checked ~ .first {
    margin-left: -400%;
}
#radio5:checked ~ div.slide img#img5 {
    transition: 1s;
    filter: none;
}
/* #radio6:checked ~ .first {
    margin-left: -500%;
}
#radio6:checked ~ div.slide img#img6 {
    transition: 1s;
    filter: none;
} */
.navegacion-auto {
    position: absolute;
    display: flex;
    width: 648px;
    justify-content: center;
    margin-top: 432px;
}
.navegacion-auto div {
    display: none;
    border: 2px solid var(--colorCarne);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navegacion-auto div:not(:last-child) {
    margin-right: auto;
}
#radio1:checked ~ .navegacion-auto .auto-btn {
    background-color: var(--colorCarne);
}
#radio2:checked ~ .navegacion-auto .auto-btn {
    background-color: var(--colorCarne);
}
#radio3:checked ~ .navegacion-auto .auto-btn {
    background-color: var(--colorCarne);
}
#radio4:checked ~ .navegacion-auto .auto-btn {
    background-color: var(--colorCarne);
}
#radio5:checked ~ .navegacion-auto .auto-btn {
    background-color: var(--colorCarne);
}
/* #radio6:checked ~ .navegacion-auto .auto-btn {
    background-color: var(--colorCarne);
} */

/* Fin de estilos del Slider */

/*Estilos para los popUp*/
div.popUp {
    z-index: 4;
    transition: all 0.5s;
    position: fixed;
    box-shadow: 0px 0px 28px -11px;
    background-color: var(--secundarioBlanco);
    width: 30rem;
    height: 30rem;
    max-width: 80%;
    overflow-y: scroll;
    top: 0;
    left: 50%;
    transform: translate(-50%,-100%);
    padding: 2em;
    border-radius: 0.5em;
    overflow-y: scroll;
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(245, 244, 245, 0.33);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(-50%,-100%);
    -moz-transform: translate(-50%,-100%);
    -ms-transform: translate(-50%,-100%);
    -o-transform: translate(-50%,-100%);
}

div.popUp.active {
    transform: translate(-50%,50%);
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%,50%);
    -moz-transform: translate(-50%,50%);
    -ms-transform: translate(-50%,50%);
    -o-transform: translate(-50%,50%);
}

.popUp * {
    display: block;
    text-align: center;
}

.popUp label {
    margin: 2rem 0;
    width: 100%;
}

.popUp span {
    font-size: 1rem;
}

#label-condiciones {
    width: 100%;
    margin: 2rem auto;
}

input#condiciones {
    margin: 0 auto;
}

span.tiny-text {
    text-align: center;
    font-size: 0.8rem
}

.popUp input {
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(245, 244, 245, 0.33);
}

@media (max-width: 767px) {

    #section_login {
        justify-content: center;
        width: 100%;
    }

    .popUp {
        min-width: 350px;
        width: 80%;
    }
    
}

/*Estilos del footer*/
footer {
    z-index: 1;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 4rem;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0 auto;
    width: fit-content;
    font-weight: bolder;
}

footer div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}