:root {
    --principalAmarillo: #FFE45E;
    --principalNegro: #143642;
    --secundarioBlanco: #F5F4F5;
    --secundarioRojo: #A23E48;
    --secundarioNaranja: #FF8C42;
    --fuenteTextos: 'Press Start 2P', cursive;
    --fuenteTitulos: 'Press Start 2P', cursive;
    --sombraTextos: 5px 5px 5px #143642;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

html {
    position: relative;
    scroll-behavior: smooth;
    height: 100vh;
    font-family: var(--fuenteTextos);
    min-height: 100%;
}

.noScroll {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

header, footer {
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(245, 244, 245, 0.33);
}

.wrapper {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    height: 100%;
    margin-bottom: 40px;
    background: var(--secundarioBlanco);
    font-family: var(--fuenteTextos);
    background-image: url('../img/pixel_bg2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.flex-section {
    display: flex;
    flex-wrap: wrap;
}

.center-flex {
    justify-content: center;
    align-items: center;
}

main.active, header.active, footer.active {
    transition: all .5s;
    filter: blur(4px);
}

.titleh1 {
    text-align: center;
    width: 100%;
    margin: 0.5rem;
    font-size: 2.5rem;
    color: var(--principalAmarillo);
    text-shadow: var(--sombraTextos);
}

.subtitle {
    font-family: var(--fuenteTitulos);
}

span {
    font-size: 1.0em;
}

/*Estilos para el header*/
#header-principal {
    z-index: 1;
    transition: all 0.5s;
    padding: 0;
    height: fit-content;
    position: sticky;
    top: 0;
}

@media (max-width:870px) {
    #header-principal {
        position: sticky;
    }
}

#header-index nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0;
}

#header-logo {
    text-decoration: none;
    color: var(--principalAmarillo);
    text-shadow: var(--sombraTextos);
}

#header-logo_mategotchi {
    margin: 1rem;
    margin-left: 3rem;
}

#header-logo img {
    width: 20%;
}

#menu-nav {
    z-index: 2;
    display: flex;
    align-items: center;
}

#menu-nav ul {
    padding: 0;
    margin: 0;
}

#menu-nav ul li {
    display: inline-block;
    margin: 0 15px;
}

#menu-nav a {
    transition: all 0.5s;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    margin: 0;
}

#boton-menu {
    display: none;
}

@media (max-width: 1400px) {

    #menu-nav {
        position: fixed;
        justify-content: center;
        width: 100%;
        height: 100vh;
        top: 0%;
        right: -100%;
        backdrop-filter: blur(14px) saturate(144%);
        -webkit-backdrop-filter: blur(14px) saturate(144%);
        background-color: rgba(45, 189, 239, 0.5);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
    }

    #menu-nav.show {
        right: 0;
    }

    #menu-nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        text-align: center;
    }

    #boton-menu {
        position: static;
        display: inline;
        width: fit-content;
        height: fit-content;
        background: none;
        padding: 10px;
        border: 2px solid var(--secundarioBlanco);
        border-radius: 5px;
        z-index: 4;
        margin: auto 0;
        margin-right: 1rem;
    }

    #boton-menu i {
        font-size: 25px;
        color: var(--colorBlanco);
    }
    
}

/*Estilos para el main*/

.info-bienvenida {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
}

.avatar-gif {
    z-index: 1;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje-bienvenida p {
    color: var(--secundarioBlanco);
    text-shadow: var(--sombraTextos);
    font-size: 3rem;
    width: 90%;
    text-align: justify;
    margin: 0 auto;
}

/*Estilos para los popUp*/
.main_section {
    width: 100%;
}

.popUp {
    z-index: 4;
    transition: all 0.5s;
    position: relative;
    box-shadow: 0px 0px 28px -11px;
    background-color: var(--secundarioBlanco);
    width: 30rem;
    height: 30rem;
    max-width: 80%;
    overflow-y: scroll;
    top: 0;
    left: 50%;
    transform: translate(-50%,-70%);
    padding: 2em;
    border-radius: 0.5em;
    overflow-y: scroll;
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(245, 244, 245, 0.33);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    visibility: hidden;
    opacity: 0;
}

.popUp.active {
    transform: translate(-50%,0%);
    visibility: visible;
    opacity: 1;
}

#div_registro {
    transform: translate(-50%,-150%);
}
#div_registro.active {
    transform: translate(-50%,-100%);;
}

.popUp * {
    display: block;
    text-align: center;
}

.popUp label {
    width: 100%;
}

.popUp input {
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(245, 244, 245, 0.33);
}

@media (max-width: 767px) {

    #section_login {
        justify-content: center;
        width: 100%;
    }

    .popUp {
        min-width: 350px;
        width: 80%;
    }
    
}

/*Estilos del footer*/
footer {
    z-index: 1;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0 auto;
    width: fit-content;
    font-weight: bolder;
}

@media (max-width:870px) {
    footer {
        position: sticky;
    }
}