:root {
    --principalAmarillo: #FFE45E;
    --principalNegro: #143642;
    --secundarioBlanco: #F5F4F5;
    --secundarioRojo: #A23E48;
    --secundarioNaranja: #FF8C42;
    --fuenteTextos: 'Press Start 2P', cursive;
    --fuenteTitulos: 'Press Start 2P', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

html {
    position: relative;
    scroll-behavior: smooth;
    height: 100vh;
    font-family: var(--fuenteTextos);
    min-height: 100%;
}

.noScroll {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

header, footer {
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(245, 244, 245, 0.33);
}

body {
    margin: 0;
    margin-bottom: 40px;
    background: var(--secundarioBlanco);
    font-family: var(--fuenteTextos);
    background-image: url('../img/kid_learning1_G.jpg');
    background-position: center;
}

.subtitle {
    font-family: var(--fuenteTitulos);
}

span {
    font-size: 1.3em;
}

/*Estilos para el header*/
#headerInicio {
    padding: 0;
}

#header-index {
    z-index: 1;
    transition: all 0.5s;
    padding: 0;
    height: fit-content;
}

#header-index nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0;
}

#header-logo {
    text-decoration: none;
}

#header-logo_mategotchi {
    display: flex;
    justify-content: center;
    text-align: center;
}

#header-logo_mategotchi span {
    text-decoration: none;
    color: var(--colorBlanco);
    font-family: var(--fuenteSubTitulos);
    font-weight: bolder;
    font-size: 20px;
}

h2.logo {
    font-size: 42px;
    font-family: var(--fuenteTitulos);
    text-shadow: 2px 2px var(--sombraNegra);
    color: var(--colorBlanco);
    margin-bottom: 0;
}

#menu-nav {
    z-index: 2;
    display: flex;
    align-items: center;
}

#menu-nav ul {
    padding: 0;
    margin: 0;
}

#menu-nav ul li {
    display: inline-block;
    margin: 0 15px;
}

#menu-nav a {
    transition: all 0.5s;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    color: var(--colorBlanco);
}

#menu-nav a:hover, #menu-nav a.activo{
    background-color: var(--colorCarne);
    color: var(--colorVino);
}

#boton-menu {
    display: none;
}

@media (max-width: 767px) {

    #menu-nav {
        position: fixed;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: var(--colorVino);
        top: 0;
        right: -100%;
        transition: all 0.5s;
        background: var(--fondoVino);
        backdrop-filter: blur(2px);
    }

    #menu-nav.show {
        right: 0;
    }

    #menu-nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        text-align: center;
    }

    #boton-menu {
        position: static;
        display: inline;
        width: fit-content;
        height: fit-content;
        background: none;
        padding: 10px;
        border: 2px solid var(--colorBlanco);
        border-radius: 5px;
        z-index: 4; 
    }

    #boton-menu i {
        font-size: 25px;
        color: var(--colorBlanco);
    }
    
}

/*Estilos para los popUp*/
.main_section {
    width: 100%;
    height: 100vh;
}

#section_login {
    height: 80vh;
}

.popUp {
    box-shadow: 0px 0px 28px -11px;
    position: absolute;
    background-color: var(--secundarioBlanco);
    width: 30rem;
    height: 30rem;
    padding: 2em;
    margin: 1em;
    margin-top: 6rem;
    border-radius: 0.5em;
    overflow-y: scroll;
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(245, 244, 245, 0.33);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.popUp * {
    display: block;
    text-align: center;
}

.popUp label {
    width: 100%;
}

.popUp input {
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(245, 244, 245, 0.33);
}


#div_login {
    display: none;
}

@media (max-width: 767px) {

    #section_login {
        justify-content: center;
        width: 100%;
    }

    .popUp {
        min-width: 350px;
        width: 80%;
    }
    
}

/*Estilos del footer*/
footer {
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer p {
    margin: 0 auto;
    width: fit-content;
    font-weight: bolder;
}