.section-inicio {
        width: 40%;
        margin: 1rem;
}

.div-inicio {
        margin-top: 0.5rem !important;
        backdrop-filter: blur(8px) saturate(180%);
        -webkit-backdrop-filter: blur(8px) saturate(180%);
        background-color: rgba(245, 244, 245, 0.33);
}

#user-div {
        order: 1;
}

#menu-div {
        order: 2;
}

.div-opcion {
        height: 210px;
}

.div-opcion:hover {
        background-color: rgba(255, 228, 94, 0.53);
}

#profile-section {
        justify-content: space-around;
        height: 210px;
}

#img-user {
        display: flex;
        align-items: center;
        order: 1;
        width: 15%;
}

#info-user {
        order: 2;
        width: 60%;
}

#avatar-section {
        height: 420px;
}

#user-pet {
        width: 400px;
        margin: auto 0;
}


#div_juegos {
        position: relative;
        transform: translate(-50%,-120%);
        -webkit-transform: translate(-50%,-120%);
        -moz-transform: translate(-50%,-120%);
        -ms-transform: translate(-50%,-120%);
        -o-transform: translate(-50%,-120%);
}

.menu-juegos a {
        color: var(--secundarioBlanco);
        text-shadow: var(--sombraTextos);
}

.menu-juegos a:hover {
        text-decoration: none;
        color: var(--secundarioBlanco);
}

.option-juego {
        background-position: center;
        background-size: cover;
        margin: 1rem;
}

#juego1 {
        order: 1;
        background-image: url('../img/juego1.png');
}

#juego2 {
        order: 2;
        background-image: url('../img/juego2.png');
}

#juego3 {
        order: 3;
        background-image: url('../img/juego3.png');
}

#juego4 {
        order: 4;
        background-image: url('../img/juego4.png');
}

#juego5 {
        order: 5;
        background-image: url('../img/juego5.png');
}

#Clase1, #Clase2, #Clase3, #Clase4, #Clase5 {
        background-image: url('../img/fondo_clases.png');
}

#Ejercicio1, #Ejercicio2, #Ejercicio3, #Ejercicio4, #Ejercicio5 {
        background-image: url('../img/fondo_ejercicios.png');
}

@media (max-width: 870px) {
        .section-inicio {
                width: 90%;
                min-width: 320px;
        }
}
