.nivel1Bienvenida{
    max-width: 65%;
    max-height: 65%;
    
}
.fondo{
    text-align: center; 
    size: cover;
}
.boton{
    position: absolute;
    bottom: 5%;
    right: 19%;
}
.respuesta{
    position: absolute;
    top: 15px;
    right: 18%;
}
.ejercicio2{
    width: 400px;
}
.respuestaNivel3{
    position: absolute;
    top: 350px;
    right: 25.4%;
}
.Entradarespuesta{
    background: rgb(168, 209, 142);
    width: 80px;
    height: 29px;
}
.boton2{
    position: absolute;
    top: 100px;
}

.R1, .R2, .R3{
    position: absolute;
    height: 50px;
    right: 25.4%;
}
.R3{
    top: 395px;
    
}
.R2{
    top: 215px;
}
.R1{
    top: 50px;
}
#boton4{
    position: absolute;
    top: 500px;
    right: 25.4%;
    height: 60px;
    width: 70px;
}
#botonR1{
    position: absolute;
    height: 50px;
    right: 495px;
    top: 330px;
}
#botonR2{
    position: absolute;
    height: 50px;
    right: 345px;
    top: 330px;
}
#botonR3{
    position: absolute;
    height: 50px;
    right: 175px;
    top: 330px;
}